.anime_main {
    height: 100vh;
    width: 100%;
    background-color: rgb(42, 40, 54);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.home_page_return {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: ease 0.3s;
    z-index: 10;

    .home_icon {
        &:hover {
            scale: 1.06;
        }
    }
}

.slider_img {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    white-space: nowrap;
    position: relative;

    .track {
        display: flex;
        gap: 40px;
        flex-flow: row nowrap;
        will-change: transform;
    }
}

#info_characters {
    color: white;
    text-align: center;
    padding: 20px;
}


.info_characters {
    margin: auto;
    border-radius: 4px;
    width: 80%;
    padding: 10px;
    background-color: rgb(64, 64, 83);
    display: flex; 
    flex-flow: row wrap;
    box-shadow: 0px 0px 11px  rgba(137, 137, 228, 0.582);
    gap: 60px;
    justify-content: center;
    align-items: center;


    .content_character {
        border: 1px solid rgb(226, 219, 255);
    }
}








@media screen and (max-width: 768px) {
    .home_page_return {
        justify-content: start;
    }


    .info_characters {
        flex-flow: column nowrap;
    }
}