@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    @include flexCenter();
    background-color: rgb(21, 8, 32);
    padding: 10px;
    border-bottom: 1px solid rgba(243, 228, 255, 0.329);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    .icons_animes {
        @include flexCenter();
        gap: 34%;
        flex-flow: row nowrap;

        li {
            list-style: none;

            img {
                width: 70px;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 768px) {
.header {
    @include flexCenter();
    padding: 6px;

    .icons_animes {
        gap: 6%;
        li {
            img {
                width: 55px;
                height: auto;
            }
        }
    }
}
   
}

